.battle-pokemon img {
    width: 13rem;
    margin-bottom: 1rem;
}

.battle-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.battle-pokemon .title {
    font-family: pokemonFont;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.battle-pokemon #name {
    font-size: 1.8rem;
}

.battle-pokemon .description {
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.my-pokemon {
    transform: scaleX(-1);
}

.stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 320px;
}

.stats div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@font-face {
    font-family: 'pokemonFont';
    src: url('../fonts/pokemonFont.ttf') format('truetype');
}