@import "./estilos/modal.css";
@import "./estilos/pokemon.css";
@import "./estilos/inputs.css";
@import "./estilos/tags.css";

body {
    background-color: #81aa6d;
}

.battle-section {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    min-height: 80vh;

    color: rgb(26, 26, 26);
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: pokemonFont;
    font-weight: bold;
    width: 6.9rem;
}

.loading img {
    width: 3rem;
}